#registeredProjects {
  grid-column: 1 / -1;
  #registeredProjectsList {
    display:flex;
    flex-direction:column;
    gap:2rem;
    .registeredPeriod {
      display:flex;
      gap:1rem;
      align-items:center;
      border-bottom: 1px solid var(--colorOnBorders);
      padding-bottom: 2rem;
      border-top: 1px solid var(--colorOnBorders);
      padding-top: 1rem;
      input {
        &[type='number'] {
          min-width:150px;
        }
      }
      .deleteRegisteredPeriod {
        margin-top: auto;
        margin-bottom: 0;
        margin-left:auto;
        padding: 0.57rem 0.7rem;
      }
    }
  }
  #addRegisteredPeriod {
    margin-top:0;
  }
}

#paymentMethodsBeneficiary {
  grid-column: 1 / -1;
  display:flex;
  flex-direction:column;
  gap:1rem;
  .paymentMethod {
    .paymentMethodHandle {
      label {
        border: 1px solid var(--colorOnBorders);
        border-radius: 7px;
        background: var(--colorSurfaceMixed-200);
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        input {
          accent-color: var(--colorPrimary-500);
          width:16px;
          height:16px;
          opacity:0.4;
          &:checked {
            opacity:1;
          }
        }
      }
    }
    .inputContainer {
      &.hidden {
        display:none;
      }
      margin-top:1rem;
    }
  }
}
